body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b8b8b8;
}

.button {
    border: 5px blue solid;
    width: 75px;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: aqua;
    margin: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-justify: center;
    box-shadow: 5px 7px #4f4f4f;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 500px
}

.wrapper {
    display: flex;
    margin-left: -5%;
}

.container {
    max-height: 80vh;
    width: 90vh;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    border: 10px blue solid;
    background-color: white;
    box-shadow: 10px 15px #4f4f4f;
}

.gridBlock {
    max-width: auto;
    max-height: auto;
    aspect-ratio: 1 / 1;
}